*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.portada{
  width: 100%;
  height: 700px;
  background:url("./imagenes/protocolo-de-red-del-teletipo-cliente-terminal-virtual-telnet.jpg");
  background-attachment: fixed;
   
}
.titulo h1{
  display: flex;
  font-size: 80px;
  color: #000;

}
.titulo{
  display: flex;
  background: rgb(198, 199, 198);
  margin-top: 450px;
  justify-content: center;
}
/**/
nav{
/* background: #2fcdcd; */
height: 80px;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #2fcdcd;
padding-left: 2vw;


}
.enlace{
/* position: absolute; */
padding: 20px 50px;

}
.logo{
height: 70px;
border-radius: 20%;
}

nav ul{   /*cont-ul*/
display: flex;
align-items: center;
/* float: right;
margin-right: 20px; */
color: #fff;
}
nav ul li {
  list-style: none;
  cursor: pointer;
  /* padding: 1.5vw; */
  padding: 10px 10px;
  color: #fff;
  margin: 0 5px;
  border-radius: 15px; 
  width: 19%;
/* display: inline-block;
line-height: 80px;
margin: 0 5px; */
}
nav ul li a{
/* color: #fff; */
font-size: 16px;
padding: 7px 14px;
border-radius: 3px;
text-transform: uppercase;
width: 30%;

}
nav ul li a{
  color: #fff;
  
}
li.active, li:hover{
background: #000090;
transition: .5s; 
}
.develop{
  position: relative;
}
.ul-second{
  display: none;
  position: absolute;
  /* margin-top: 1.5vw; */
  padding: 7px 13px;
  
  
}
.ul-second > li {
  width: 190px;
  transform: translateX(-35px);
  border-bottom: solid 1px #fff;
  text-align: center;
  background-color: #000090;
  border-radius: 8px;
}

.ul-second > li:hover{
  background: #000090;
  margin: 0px 10px;
}
.develop:hover > .ul-second{
  display: block;

}
.develop .ul-second li a{
  font-size: 12px;
}

.checkbtn{
font-size: 30px;
color: #fff;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
section{
background: url(fondo.jpg) no-repeat;
background-size: cover;
background-position: center center;
height: calc(100vh - 80px);
}

@media (max-width: 952px){
.enlace{
    padding-left: 20px;
}
nav ul li a{
    font-size: 16px;
}
}

@media (max-width: 858px){
.checkbtn{
    display: block;
}
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #d8dfe6;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  li a:hover, li a.active{
    background: none;
    color: red;
  }
  #check:checked ~ ul{
  left:0;
  }
}
/**/
body{
  height: 100vh;
  background: #dddddd;
  color: #fff;
}
.contenedor{
  background: rgb(199, 198, 198);
  max-width: 1500px;
  margin: 10px auto;
  /* overflow: hidden; */
}

